.review-head {
    text-align: center;
    color: rgb(124, 10, 10);
}

.btn-link {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 29rem;
    margin-bottom: 2rem;
    background-color: rgb(196, 34, 34);
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.btn-link:hover {
    background-color: rgb(245, 5, 5);
    color: blue;
    cursor: progress;
}